@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  font-family:Montserrat, sans-serif
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
  }
  
  body {
    font-family: var(--font-montserrat);
  }
}

/* NAV LINKS - 17px, weight 300 */
@layer components {
  .nav-link {
    @apply relative text-[17px] font-light text-white transition-all duration-300;
  }
  .nav-link::after {
    @apply content-[''] absolute left-0 -bottom-2 w-0 h-0.5 bg-white transition-all duration-300;
  }
  .nav-link:hover::after {
    @apply w-full;
  }
}